---
import Section from './Section.astro';
import boro from '../assets/hero.jpg';
---
<Section id="galeri" className="flex-col gap-[48px]">
	<h2 class="font-bold text-[30px]">Galeri Foto</h2>
	<div class="flex flex-wrap gap-[16px]">
		<div class="w-[332px] h-[200px] bg-cover bg-center rounded-2xl" style={{ backgroundImage: `url(${boro.src})` }}></div>
		<div class="w-[332px] h-[200px] bg-cover bg-center rounded-2xl" style={{ backgroundImage: `url(${boro.src})` }}></div>
		<div class="w-[332px] h-[200px] bg-cover bg-center rounded-2xl" style={{ backgroundImage: `url(${boro.src})` }}></div>
		<div class="w-[332px] h-[200px] bg-cover bg-center rounded-2xl" style={{ backgroundImage: `url(${boro.src})` }}></div>
		<div class="w-[332px] h-[200px] bg-cover bg-center rounded-2xl" style={{ backgroundImage: `url(${boro.src})` }}></div>
		<div class="w-[332px] h-[200px] bg-cover bg-center rounded-2xl" style={{ backgroundImage: `url(${boro.src})` }}></div>
		<div class="w-[332px] h-[200px] bg-cover bg-center rounded-2xl" style={{ backgroundImage: `url(${boro.src})` }}></div>
		<div class="w-[332px] h-[200px] bg-cover bg-center rounded-2xl" style={{ backgroundImage: `url(${boro.src})` }}></div>
	</div>
</Section>
