---
import Section from './Section.astro';
import { testimoni } from '../data/konfigurasi.js';
---
<Section id="testimoni" className="bg-gray-50">
    <div class="flex flex-col w-full text-center items-center">
		<h2 class="text-3xl md:text-4xl font-bold">{testimoni.title}</h2>
        <p class="mt-4 max-w-2xl text-lg text-gray-600">
					{testimoni.subtitle}
        </p>
        
        <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full">
            {testimoni.items.map((testimony) => (
                <div class="card p-8 flex flex-col text-left !shadow-md h-full">
                    <div class="text-yellow-400 text-2xl mb-4 flex gap-1">
                        {Array(testimony.rating).fill('★').map(star => <span>{star}</span>)}
                        {Array(5 - testimony.rating).fill('☆').map(star => <span class="text-gray-300">{star}</span>)}
                    </div>
                    <p class="text-gray-600 grow italic">"{testimony.comment}"</p>
                    <div class="mt-6 pt-6 border-t">
                        <span class="font-bold text-gray-800">{testimony.name}</span>
                    </div>
                </div>
            ))}
        </div>
    </div>
</Section>

